<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'firstApp/style.css' %}">
<html lang="en">
<head>
  <title>Quantum Computation</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.0/math.min.js"></script>
  <style>
    body {
      text-align: center;
    }

    nav {
      text-align: center;
    }

    #div1,#div2 {
      position: absolute;
      border: 1px solid black;
      width :400px;
      height:400px;
      margin:0px auto;
      left:0;
      right:0;

    }

    #canvasContainer{
      height:400px;
    }

    #foregroundElement {
      left:0;
      right:0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      width :400px;
      height:400px;
      // z index is higher
      z-index : 1;
      margin:0px auto;
      left:0;
      right:0;
    }

    #trash{
    }

  </style>
  <script>

  var matrix = [[1,0], [0, 1]];
  // pauli matrices
  const I = [[1,0], [0, 1]];
  const X = [[0,1], [1, 0]];
  const Y = [[0,1], [1, 0]];
  const Z = [[1,0], [0, -1]];

  // hadamard gate
  var H = [[1,1], [1, -1]];

  // to keep track of the number of rails
  var railNumber = 1;

  // starting array for the circuit config
  let circuitConfig = [];
  circuitConfig.push([I]);

  // dimensions for line drawing stuff
  const dropArea = document.getElementById("div1");
  const ctx = dropArea.getContext("2d");

function draw() {
    const canvas = document.querySelector('#div1');
    const context = canvas.getContext('2d');
    context.clearRect(0, 0, canvas.width, canvas.height);
    if (!canvas.getContext) {
        return;
    }
    const ctx = canvas.getContext('2d');
    // set line stroke and line width
    ctx.strokeStyle = 'black';
    ctx.lineWidth = 1;
    var width = canvas.width;
    var height = canvas.height;
    // draw a red line
    for (var i = 0; i < railNumber; i ++){
      ctx.beginPath();
      ctx.moveTo(0/5, (i + 1) * height/(railNumber + 1));
      ctx.lineTo(width +0.5, (i + 1) * height/(railNumber + 1));
      ctx.stroke();
    }
}




function alterDisplayMatrix(){
  var alteredMatrix = "";
  for(var i = 0;i<matrix.length;i++)
  {
    alteredMatrix += '&nbsp;&nbsp' + matrix[i].join(' ') + '<br/>';
  }
  document.getElementById("myMatrix").innerHTML = alteredMatrix;

}

function matricesAreEqual(matrix1, matrix2) {
// there is obviously a smarter way of doing this, but works for now
  if (matrix1.length !== matrix2.length) return false;
  for (let i = 0; i < matrix1.length; i++) {
    if (matrix1[i].length !== matrix2[i].length) return false;
    for (let j = 0; j < matrix1[i].length; j++) {
      if (matrix1[i][j] !== matrix2[i][j]) return false;
    }
  }
  return true;
}

function computeNewMatrix(){
      totalMatrix = [[1]];
      for (element of circuitConfig){
        combinedRow = I;
        for (secondElement of element){
          combinedRow = math.multiply(combinedRow, secondElement);
        }
        totalMatrix = math.kron(totalMatrix, combinedRow);
      }
      matrix = totalMatrix;
      alterDisplayMatrix();
}

function startingMatrix() {
      alterDisplayMatrix();
      draw();
    }

function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("drag_obj", ev.target.id);
}



function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("drag_obj");
  document.getElementById("foregroundElement").appendChild(document.getElementById(data).cloneNode(true));
  updateCircuit();
  rowNumber = parseInt(ev.target.id.slice(-1));
  updateCircuitConfig(document.getElementById(data), rowNumber);
  computeNewMatrix();
}

function updateCircuitConfig(element, row) {
  var M = [[1,0], [0, 1]];

  if (element.className == 'H_gate'){
  M = H;
  }
  if (element.className == 'X_gate'){
  M = X;
  }
  if (element.className == 'Y_gate'){
  M = Y;
  }
  if (element.className == 'Z_gate'){
  M = Z;
  }
  //check if row is occupied, then push/set element to the dragged matrix
  if (matricesAreEqual(circuitConfig[row - 1][0], I)){
    circuitConfig[row - 1][0] = M;
  }
  else{
    circuitConfig[row - 1].push(M);
  }

}

function addRail() {
  circuitConfig.push([I]);
  computeNewMatrix();
  railNumber += 1;
  draw();
}

function deleteGate(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("drag_obj");
  document.getElementById(data).remove();
}

function deleteRail() {
  railNumber -= 1;
  draw()
  circuitConfig.pop();
  computeNewMatrix();

}

function updateCircuit() {
  var canvas = document.getElementById("canvas");
  document.getElementById("mainCircuit");
  var text = document.createTextNode("This just got added");
  canvas.appendChild(text);

}

</script>
</head>
<body onload = "startingMatrix()">

<img src="{% static 'firstApp/qiskit_logo.png' %}" style="float:right;width:42px;height:42px;" alt="My image">
<h1>Quantum Computation Project</h1>

<p>Start adding qubits to begin</p>
<div class="nav">
<button type="button" onclick="location.href='{% url 'home' %}'">Home</button>
  {% if not user.is_authenticated %}
<button type="button" onclick="location.href='{% url 'signup' %}'">Sign up</button>
<button type="button" onclick="location.href='{% url 'login' %}'">Log in</button>
  {% endif %}
</div>

<img src="{% static 'firstApp/q_circuit.png' %}" style="width:500px;" alt="My image">

<p>Add rails (more qubits) to begin:</p>
<br>
<button type="button" onclick="addRail()">Add rail</button>
<button type="button" onclick="deleteRail()">Delete rail</button>

<div id="canvasContainer">
<canvas id="div1" >
</canvas>
<div id="foregroundElement" ondrop="drop(event)" ondragover="allowDrop(event)">
</div>
</div>

<br>
<img class="H_gate" id="drag1" src="{% static 'firstApp/H_draw.png' %}" draggable="true" ondragstart="drag(event)"  height="69">
<img class="X_gate" id="drag2" src="{% static 'firstApp/X_draw.png' %}" draggable="true" ondragstart="drag(event)"  height="69">
<img class="Y_gate" id="drag3" src="{% static 'firstApp/Y_draw.png' %}" draggable="true" ondragstart="drag(event)"  height="69">
<img class="Z_gate" id="drag4" src="{% static 'firstApp/Z_draw.png' %}" draggable="true" ondragstart="drag(event)"  height="69">
<img src="{% static 'firstApp/trash.png' %}" ondrop="deleteGate(event)" ondragover="allowDrop(event)" height="50">
</body>
<br>
<p>Associated matrix:</p>

<p id ="myMatrix">
</p>

<br>
<button type="button"> Compute </button>
<div id="canvas" height="500" width="500">
</div>

{% block content %}
<p> Ello </p>
{% endblock %}
</html>